@model LanAdeptAdmin.Views.Tournaments.ModelController.TeamModel

<h4>Liste des joueurs de l'équipe</h4>

<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>
					Nom complet
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (GamerTag gamerTag in Model.TeamGamerTags)
			{
				<tr>
					<td>
						@gamerTag.User.CompleteName.ToString()
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

