@model LanAdeptAdmin.Views.Tournaments.ModelController.TeamModel


@{
    ViewBag.Title = "UserList";
}

<h4>Gamers</h4>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.TeamGamerTags.First().User.CompleteName)
		</th>
	</tr>


	@foreach (GamerTag gamerTag in Model.TeamGamerTags)
	{
		<tr>
			<td>
				@gamerTag.User.CompleteName.ToString()
			</td>
		</tr>
	}
</table>



