@{
	ViewBag.Title = "Erreur";
}

<div class="jumbotron">
	<h2 class="text-danger">Oups!</h2>

	<p>Une erreur est survenue. Merci de réessayer dans quelques instants.</p>

	Si vous continuez de voir ce message, veuillez contacter un administrateur.
</div>