#carousel-container {
    width: 89%;
    margin:auto;
    text-align: center;
    padding: 30px 0;
}

#description {
    margin: 30px auto;
	text-align:center;
	float:none;
}

#map {
    width: 87%;
    margin: 30px auto;
	text-align:center;
	float:none;
}

#map h2 {
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;
}

#map p {
    margin-bottom: 30px;
}

#map-container {
    position: relative;
    padding-bottom: 40%; /* Aspect ratio de la map */
    height: 0;
    overflow: hidden;
}

#map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#date {
    font-size: 150%;
    margin-top: 30px;
}

.home-image {
    width: 50%;
}

/* Easter egg de Marco */

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* basic structure for the rays setup */
#raysDemoHolder	{ 
	position: relative; 
	width: 490px; 
	height: 490px; 
	margin: 100px 0 0 200px; 
}
#raysLogo { 
	width: 300px; 
	height: 233px; 
	text-indent: -3000px; 
	background: url(logo.png) 0 0 no-repeat; 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 2; 
}
#rays	{ /* with animation properties */
	background: url(rays.png) 0 0 no-repeat; 
	position: absolute; 
	top: -100px; 
	left: -100px; 
	width: 490px; 
	height: 490px; 
	
	/* microsoft ie */
	animation-name: spin; 
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}