#mapContainer {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

#map {
    display: inline-block;
}

#map .place {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;

    border: 1px solid #ddd;

    background-color: #eee;
    margin: 2px;
}

#map .row:nth-child(1) {
    padding-bottom: 25px;
}

#map .row:nth-child(1) .place:nth-child(9) {
    margin-right: 270px;
}

#map .row:nth-child(n+2) .place:nth-child(2n+3) {
    margin-right: 40px;
}

#map .row:nth-child(n+2) .place:last-child {
    margin: 0;
}

#map .place:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#map .place-none:hover {
    background-color: #fff;
    cursor: default;
}

#map .place-none {
    border: none;
    background-color: #fff;
}

#map .place-occupe {
    background-color: #F9E5E6;
}

#map .place-occupe:hover {
	background-color: #FAD2D3;
}

#map .place-actuelle {
    background-color: #E3EBC6;
}

#map .place-actuelle:hover {
    background-color: #CDDB9B;
}

#map .place-reserve {
    background-color: #D8ECF5;
}

#map .place-reserve:hover {
    background-color: #AED7EA;
}
.map-max-width {
	width: 1200px;
}