@media print {
    @page {
        margin: 0;
    }
    
    .btn {
        display: none;
    }

    #desktop-view, footer {
        display: none;
    }

    #print-view {
        display: block;
        padding: 25px 50px 35px 50px;

        border-bottom: dashed #9a9a9a 1px;
    }

    hr {
        display: none;
    }

    .print-image {
        height: 100px;
    }

    .infos {
        text-align: center;
        margin-top: -5px;
    }

    .infos .date {
        margin-bottom: 10px;
    }

    .infos .adress {
        margin-bottom: 10px;
    }

    .place {
        text-align: center;
    }

    .barcode img {
        margin-bottom: 20px;
    }

    .scissors {
        width: 20px;
        position: fixed;
        top: 205px;
        left: 30px;
    }
}

@media screen {
    #desktop-view {
        display: block;
    }

    #print-view {
        display: none;
    }

    #desktop-view .barcode {
        padding-right: 0;
        margin-right: 0;
    }
}