@media print {
    @page {
        margin: 0;
    }
    
    .btn {
        display: none;
    }

    #desktop-view, footer {
        display: none;
    }

    #print-view {
        display: block;
        padding: 25px 30px;
		position:relative;
        border-bottom: dashed #9a9a9a 1px;
    }

    hr {
        display: none;
    }

    .print-image {
        height: 100px;
    }

    .infos {
        text-align: center;
        margin-top: -5px;
    }

    .infos .date {
        margin-bottom: 10px;
    }

    .infos .adress {
        margin-bottom: 10px;
    }

    .place {
        text-align: center;
    }

    .barcode img {
        margin-bottom: 10px;
    }

    .scissors {
        width: 20px;
        position: absolute;
        bottom:-6px;
        left: -5px;
    }
}

@media screen {
    #desktop-view {
        display: block;
    }

    #print-view {
        display: none;
    }

    #desktop-view .barcode {
        padding-right: 0;
        margin-right: 0;
    }

	.btn-place {
		margin-top: 20px;
	}

	@media (max-width: 767px) {

	.pull-right.img-responsive {
		float: none !important;
		margin: auto;
	}
}
}