@font-face {
    font-family: code39;
    src: url("../fonts/code39.ttf");
}

#barcode div {
    text-align:center;
    font-family: code39;
    font-size:12px;
	line-height: normal;
}

#barcode p {
    text-align:center;
    font-weight:bold;
}
