@font-face {
    font-family: code128;
    src: url("../fonts/code128.ttf");
}

#barcode div {
    text-align:center;
    font-family: code128;
    font-size:120px;
}

#barcode p {
    text-align:center;
    font-weight:bold;
}
