body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Pour centrer les img*/
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.jumbotron {
  background-color: #162550;
}

.panel-body.termsAndCondition {
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}