body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

.panel-body.termsAndCondition {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.input-validation-error.form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

	.input-validation-error.form-control:focus {
		border-color: #843534;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	}


/*body {
    background-image:url(../Image/bg.jpg);
    background-size:contain;
	background-repeat:no-repeat;
}*/

.btn-header {
	margin-top: 18px;
}

@media (min-width: 768px) {
  .container-sm {
    width: 700px;
	margin:auto;
  }

  .modal-sm {
    width: 375px;
  }
}

.clearfix {
    margin-top: 0;
}