

@Html.ListItemAction("Liste des places", "Liste")
@Html.ListItemAction("Rechercher par utilisateur", "Search")

<li><a href="#">Ajouter une catégorie</a></li>
<li><a href="#">Ajouter une place</a></li>


