

@Html.ListItemIconAction("Places", "glyphicon-th", "Liste", "Place")
@Html.ListItemIconAction("Rechercher", "glyphicon-search", "Search", "Place")
@Html.ListItemIconAction("Réinitialiser", "glyphicon-fire", "Reset", "Place")

@*<li><a href="#">Ajouter une catégorie</a></li>
<li><a href="#">Ajouter une place</a></li>*@


