

@Html.ListItemAction("Liste des places", "Liste")
<li><a href="#">Ajouter une catégorie</a></li>
<li><a href="#">Ajouter une place</a></li>
@Html.ListItemAction("Outils d'administration", "Outil")

