

@Html.ListItemAction("Liste des places", "Liste", "Place")
@Html.ListItemAction("Rechercher", "Search", "Place")
@Html.ListItemAction("Réinitialiser", "Reset", "Place")

@*<li><a href="#">Ajouter une catégorie</a></li>
<li><a href="#">Ajouter une place</a></li>*@


