

@Html.ListItemAction("Liste des places", "Liste")
@Html.ListItemAction("Rechercher", "Search")
@Html.ListItemAction("Réinitialiser", "Reset")

@*<li><a href="#">Ajouter une catégorie</a></li>
<li><a href="#">Ajouter une place</a></li>*@


