@model LanAdeptAdmin.Models.TeamModel

@{
	ViewBag.Title = "Supprimer mon équipe";
	ViewBag.Sidebar = "_Sidebar_Tournament";
}

<h3>Voulez-vous vraiment supprimer l'équipe "@Model.Name"?</h3>
<hr />

<div class="row">
	<div class="col-xs-12 col-md-7">
		@Html.Partial("../Shared/UserList")
	</div>
	<div class="col-xs-12 col-lg-7 text-right">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			@Html.ActionLink("Non", "Index", null, new { @class = "btn btn-default" })
			<input type="submit" value="Supprimer" class="btn btn-danger" />
		}
	</div>
</div>