@model  LanAdeptAdmin.Views.Tournaments.ModelController.TournamentModel

@{
	ViewBag.Title = "Delete";
	ViewBag.Sidebar = "_Sidebar_Tournoi";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
