@model  LanAdeptAdmin.Views.Tournaments.ModelController.TournamentModel

@{
	ViewBag.Title = "Details";
	ViewBag.Sidebar = "_Sidebar_Tournoi";
}

<h2>Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
