@model LanAdept.Views.Place.ModelController.ListeModel

@{
	ViewBag.Title = "Liste des places";
}

@Html.Partial("ModalReserverPlacePartial")

<div class="page-header">
	<h1>Liste des places</h1>
</div>

@foreach (PlaceSection sectionCourante in Model.Sections)
{
	@Html.Partial("SingleSectionPartial", sectionCourante)
}
