@model LanAdept.Views.Place.ModelController.ListeModel

@{
	ViewBag.Title = "Liste des places";
}

@Html.Partial("ModalReserverPlacePartial")

<div class="page-header">
	<h1>Liste des places</h1>
</div>

@foreach (PlaceSection sectionCourante in Model.Sections)
{
	@Html.Partial("SingleSectionPartial", sectionCourante)
}



<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">
			Légende
		</h3>
	</div>
	<div class="panel-body">

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place">
			<div>
				Libre
			</div>
		</div>

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place place-reserve">
			<div>
				Réservée
			</div>
		</div>

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place place-actuelle">
			<div>
				Ma place
			</div>
		</div>

		<div class="col-lg-1 col-md-2 col-sm-2 col-xs-6 place place-occupe">
			<div>
				Occupée
			</div>
		</div>

	</div>
</div>
