@model LanAdept.Views.Place.ModelController.PDFModel

@{
	ViewBag.Title = "Ma place";
}

@Html.Partial("ModalAnnulerReservationPartial")

<div class="container-sm">
    
    <div id="render_me">
        @Html.Partial("DownloadFilePDFPartiel", Model)
    </div>

    <p class="pull-right">
        @Html.AuthorizeActionLink("Retour", "Index", null, null, new { @class = "btn btn-default" })

		@if (!Model.reservation.Place.IsOccupied && !Model.setting.IsLanOver)
		{
			<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ModalAnnulerReservation">Annuler ma réservation</a>
		}
	<div class="clearfix"></div>
</div>

@section Styles {
    @Styles.Render("~/Content/PDF.css")
}