@model LanAdeptData.Model.Place

@{
	string classFirstDiv = "place";

	/*if (Model.LastPlaceHistory != null
		&& Model.LastPlaceHistory.User != null
		&& Model.LastPlaceHistory.User == LanAdeptCore.Service.UserService.GetLoggedInUser())
	{
		classFirstDiv += " place-actuelle";
	}
	else if (Model.EstOccupe)
	{
		classFirstDiv += " place-occupe";
	}
	else if(Model.EstReserve)
	{
		classFirstDiv += " place-reserve";
	}*/

}

<div class="col-md-1 col-sm-2 col-xs-4 @classFirstDiv">
	<div class="hover">
		<a href="#">
			@Model.PlaceSection.Name-@Model.Number
		</a>
	</div>
</div>