@model LanAdeptData.Model.Reservation

@{
    ViewBag.Title = "Ma place";
}

@Html.Partial("ModalAnnulerReservationPartial")

<div class="container-sm">
	<h2>Ma place - @Model.Place</h2>

	<div>
		<h4>Réservé le @Model.CreationDate.ToShortDateString()</h4>
		<hr />
	</div>
	<p class="pull-right">
		@Html.AuthorizeActionLink("Retour", "Index", null, null, new { @class = "btn btn-default" })
		<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ModalAnnulerReservation">Annuler ma réservation</a>
	</p>
	<div class="clearfix"></div>
</div>
