<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d’informations sur l’utilisation de la transformation Web.config, rendez-vous sur http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.webServer xdt:Transform="Insert">
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="403" />
			<error statusCode="403" responseMode="ExecuteURL" path="/Error/Forbidden" />
			<remove statusCode="404" />
			<error statusCode="404" responseMode="ExecuteURL" path="/Error/PageNotFound" />
			<remove statusCode="500" />
			<error statusCode="500" responseMode="ExecuteURL" path="/Error/Index" />
		</httpErrors>
	</system.webServer>

	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp deliveryMethod="Network" deliveryFormat="International" from="DoNotReply@lanadept.com">
				<network
					host="localhost"
					port="25"
					defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>
