@media screen and (max-width: 1400px) {
    #map-container {
        overflow: scroll;
        overflow-y: hidden;
        margin-bottom: 20px;
    }

    #map {
        margin-left: 20px;
        margin-right: 20px;
        width: 1035px;
    }
}

#map-container {
    text-align: center;
    padding-bottom: 10px;
}

#map {
    display: inline-block;
}

#legende-container {
    text-align: center;
}

#legende {
    text-align: center;
    display: inline-block;

    width: 275px;
    padding: 10px 10px 5px 10px;
    border: 1px solid #ddd;
}

#legende .row {
    padding: 0;
}

#legende .place {
    cursor: default;
}

.legende-label {
    position: relative;
    font-size: 11px;
    width: 50px;
    padding-right: 5px;
}

.legende-col {
    float: left;
    width: 40px;
    margin: 0 15px 0 15px;
    padding: 0;
}

.place {
    position: relative;
    float: left;

    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;

    border: 1px solid #ddd;

    background-color: #eee;
    margin: 2px;
}

.row:nth-child(1) {
    padding-bottom: 25px;
}

.row:nth-child(1) .place:nth-child(9) {
    margin-right: 270px;
}

.row:nth-child(n+2) .place:nth-child(2n+3) {
    margin-right: 40px;
}

.row:nth-child(n+2) .place:nth-last-child(-n+2) {
    margin-right: 0;
}

#map .place:hover {
    cursor: default;
}

#map .place a {
    color: #000;
    text-decoration: none;
    display: block;
    line-height: 40px;
}

#map .place a:hover {
    text-decoration: none;
}

#map .place .hover:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#map .place-none .hover:hover {
    background-color: #fff;
    cursor: default;
}

#map .place-occupe .hover:hover {
	background-color: #FAD2D3;
    cursor: default;
}

#map .place-actuelle .hover:hover {
    background-color: #CDDB9B;
}

#map .place-reserve .hover:hover {
    background-color: #AED7EA;
    cursor: default;
}

.place-none {
    border: none;
    background-color: #fff;
}

.place-occupe {
    background-color: #F9E5E6;
    border: 1px solid #FAD2D3;
}

.place-actuelle {
    background-color: #E3EBC6;
    border: 1px solid #CDDB9B;
}

.place-reserve {
    background-color: #D8ECF5;
    border: 1px solid #aed7ea;
}



.map-max-width {
	width: 1200px;
}