@{
	ViewBag.Title = "Erreur";
}

<div class="jumbotron">
	<h2 class="text-danger">Une erreur est survenue</h2>

	<p>Merci de réessayer dans quelques instants.</p>

	Si vous continuez de voir ce message, veuillez contacter un administrateur. <div class="small">(Erreur 500)</div>
</div>