
@{
    ViewBag.Title = "Accès interdit";
	ViewBag.HideMenu = true;
}

<div class="jumbotron">
	<h2 class="text-danger">Accès interdit</h2>

	<p>Vous n'avez pas accès à cette page.</p>

	Si vous croyez que ceci est une erreur, veuillez contacter un administrateur. <div class="small">(Erreur 403)</div>
</div>