@{
    ViewBag.Title = "Page non trouvée";
    ViewBag.HideMenu = true;
}

<div class="container">
    <div class="jumbotron">
        <h2 class="text-danger">Erreur 404</h2>
        <p>La page demandée n'a pas été trouvée.</p>
    </div>
</div>