<div class="modal fade" id="ModalReserverPlace" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">Réserver une place</h4>
			</div>
			<div class="modal-body">
				Voulez-vous vraiment réserver la place <span id="mod-numPlace">X99</span>?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<a class="btn btn-primary">Réserver</a>
			</div>
		</div>
	</div>
</div>
