<div class="modal fade" id="ModalReserverPlace" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">Réserver une place</h4>
			</div>
			<div class="modal-body">
                <p>Souhaitez-vous réserver la place <strong class="modal-place-text"></strong>?</p>
                <p><strong>Attention des frais de 10$ seront demandés à l'entrée</strong></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<a class="btn btn-primary btnReserver" href="#">Réserver</a>
			</div>
		</div>
	</div>
</div>
