@model LanAdeptData.Model.Place

@{
	string classFirstDiv = "place";

	if (Model.LastReservation != null && !Model.LastReservation.EstAnnule)
	{
		if (Model.LastReservation.User != null
			&& Model.LastReservation.User == LanAdeptCore.Service.UserService.GetLoggedInUser()
			&& Model.LastReservation.DateDepart == null)
		{
			classFirstDiv += " place-actuelle";
		}
		else if (Model.LastReservation.EstOccupe)
		{
			classFirstDiv += " place-occupe";
		}
		else
		{
			classFirstDiv += " place-reserve";
		}
	}

	string placeText = Model.PlaceSection.Name + "-" + Model.Number;
}

<div class="col-md-1 col-sm-2 col-xs-4 @classFirstDiv">
	@if (Html.HasActionPermission("Place"))
	{
		<div class="hover" data-toggle="modal" data-target="#ModalReserverPlace" data-whatever="TEEESsstst">
			@placeText
		</div>
	}
	else
	{
		<div>
			@placeText
		</div>
	}
</div>