@model LanAdeptAdmin.Views.Game.ModelController.GameModel

@{
	ViewBag.Title = "Supprimer un jeu";
	ViewBag.Sidebar = "_Sidebar_Game";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
	<h4>Voulez-vous vraiment supprimer le jeu "@Html.DisplayFor(model => model.Name)" ?</h4>


	<div class="col-lg-7 text-right">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			@Html.ActionLink("Non", "Index", null, new { @class = "btn btn-default" })
			<input type="submit" value="Supprimer" class="btn btn-danger" />
		}
	</div>
</div>