@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>LAN de l'ADEPT - ADMIN</h1>
    <p class="lead">Ce site est réservé aux administrateur du lan de l'adept</p>
    <p><a href="@ViewBag.UrlSite" class="btn btn-primary btn-lg">Site principal &raquo;</a></p>
</div>
