@model LanAdept.Views.Tournament.ModelController.TournamentModel

@{
	ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Game.Name)</h2>

<table>
	<tr>
		<th>@Html.DisplayNameFor(model => model.Teams.First().Name)</th>
		<th>Nombre de joueur</th>
	</tr>

	@foreach (Team team in Model.Teams)
	{
		<tr>
			<td>
				@{ team.Name.ToString();}
			</td>
			<td>
				@{ team.Users.Count.ToString();}
			</td>
		</tr>
	}
</table>


@Html.ActionLink("Ajouter une equipe", "AddTeam", new { id = Model.Id }, new { @class = "btn btn-default" })


