
@{
    ViewBag.Title = "Tournois";
}

<div class="jumbotron">
	<h2 class="text-success">Les tournois s'en viennent!</h2>

	<p>Les tournois seront bientôt prêts. Notre équipe de développeurs travaille fort pour finaliser cette fonctionnalité le plus rapidement possible.</p>
</div>