
@{
    ViewBag.Title = "Tournois";
}

<div class="jumbotron">
	<h2 class="text-success">Les tournois s'en viennent!</h2>

	<p>Pour le moment, les inscriptions aux tournois ne sont pas encore ouvertes. Elles devraient cependant ouvrir d'ici quelques jours, donc garde un oeil sur cette page!</p>
</div>