<div class="modal fade" id="ModalChangerPlace" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">Changer de place</h4>
			</div>
			<div class="modal-body">
				Voulez-vous vraiment changer de place pour la place <strong class="modal-place-text"></strong>?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<a class="btn btn-primary btnReserver" href="#">Changer de place</a>
			</div>
		</div>
	</div>
</div>
