@model LanAdeptData.Model.PlaceSection

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Section @Model.Name
		</h3>
	</div>
	<div class="panel-body">
		@if (Model.Places == null || Model.Places.Count == 0)
		{
			<text>Cette section ne contient pas de place.</text>
		}
		else
		{
			foreach (LanAdeptData.Model.Place currentPlace in Model.Places)
			{
				@Html.Partial("SinglePlacePartial", currentPlace)
			}
		}
	</div>
</div>
