@{
	ViewBag.Title = "À propos";
}

<h2>Remerciements</h2>
<p>Merci à tous les bénévoles qui ont contribué à la réalisation de ce LAN</p>

<div class="row">
	<div class="col-sm-4">
		<h4>Équipe technique</h4>
		<div>Frédéric Campagna</div>
		<div>Sébastien Bourdages</div>
		<div>Simon Foucher</div>
		<div>Victor Lacasse-Beaudoin</div>
	</div>
	<div class="col-sm-4">
		<h4>Programmeurs</h4>
		<div>Charles Giguère</div>
		<div>Christophe Gagnier</div>
		<div>Marc-Olivier Belisle</div>
		<div>Louis-Alexandre Levac</div>
	</div>
	<div class="col-sm-4">
		<h4>Remerciements</h4>
		<div>Alex Cournoyer</div>
		<div>Ludovic Vanasse</div>
		<div>Matthieu Verdon</div>
		<div>Olivier Mercier</div>
	</div>
</div>

