@{
	ViewBag.Title = "À propos";
}

<div style="display:none" id="raysDemoHolder">
    <video id="my-video" style="display:none" muted loop>
        <source src="https://johncena.me/static/media/cena.mp4" type="video/mp4">
    </video>
    <div id="raysLogo">
        <img style="display:none" id="textLogo" src="~/Image/ready.png" />
    </div>
    <div id="rays"></div>
    <audio class="sound">
        <source src="~/Sounds/sound.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio class="sound">
        <source src="~/Sounds/loopMusic.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>

<h3>Règlements</h3>
<div class="panel panel-default">
	<div class="panel-body">
		@Html.Markdown((string)ViewBag.Rules)
	</div>
</div>

<hr />

<h2>Remerciements</h2>
<p>Merci à tous les bénévoles qui ont contribué à la réalisation de ce LAN</p>

<div class="row">
	<div class="col-sm-4">
		<h4>Équipe technique</h4>
        <div>Jonathan Tremblay</div>
        <div>Matei Martin</div>
        <div>Jasmin Papierz-Lambert</div>
        <div>Gabriel Lemire</div>
        <div>Olivier Brassard</div>
	</div>
	<div class="col-sm-4">
		<h4>Programmeurs</h4>
		<div>Charles Giguère</div>
		<div>Christophe Gagnier</div>
		<div>Marc-Olivier Belisle</div>
		<div>Louis-Alexandre Levac</div>
        <div>Simon Therrien</div>
        <div>Olivier Brassard</div>
	</div>
	<div class="col-sm-4">
		<h4>Organisateurs</h4>
        <div>Jonathan Tremblay</div>
        <div>Matei Martin</div>
        <div>Jasmin Papierz-Lambert</div>
        <div>Gabriel Lemire</div>
        <div>Olivier Brassard</div>
	</div>
</div>

@section Styles {
    @Styles.Render("~/Content/Propos.css")
}

@section Scripts{
    @Scripts.Render("~/Scripts/cheet.min.js")
    @Scripts.Render("~/Scripts/louis.js")
}
