
@{
    ViewBag.Title = "À propos";
}

<h2>Remerciements</h2>
<p>Un grand merci à l'équipe technique du LAN soit celle de réseau et celle de prog qui est clairement supérieure bla bla bla bla bla...</p>

<hr />

<h2>Technologies utilisées</h2>
<ul>
    <li>ASP.NET MVC 4</li>
    <li>EntityFramework</li>
    <li>Bootstrap</li>
    <li>Les Internets</li>
    <li>Et</li>
    <li>Cetera</li>
</ul>