@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" c>
    <img src="~/Image/LOGO_couleurs_Transparent.png" class="img-responsive center-block"/>

    <h1>@ViewBag.dateLan</h1>

    <h1 id="timer"></h1>
    <input type="hidden" id="dateLan" value="@ViewBag.dateLan"/>


    @Html.AuthorizeActionLink("Inscription", "Index")
</div>

<script type="text/javascript">
    var dateLan = new Date(getElementById("dateLan"));
    var dateNow = new Date();

    var dateDiff = dateLan - dateNow;

    var element = document.getElementById("timer")

    element.innerHTML = dateDiff;

    alert(dateLan);
</script>