@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Image/LOGO_noir_Transparent.png" class="img-responsive center-block" />

    <h2 id="timer" class="text-center"></h2>
    <input type="hidden" id="dateLan" value="@ViewBag.dateLan" />

</div>

@section Scripts{
    <script type="text/javascript">
        var dateLanString = document.getElementById("dateLan").value;
        var dateLan = new Date(dateLanString);

        function setElement() {
            var timeDiff = new Date(dateLan - new Date());

            var seconds = Math.floor((dateLan.getTime() - (new Date().getTime())) / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);
            var days = Math.floor(hours / 24);

            hours = hours - (days * 24);
            minutes = minutes - (days * 24 * 60) - (hours * 60);
            seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

            $("#timer").text("Il reste " + days + " jours " + hours + " heures " + minutes + " minutes " + seconds + " secondes");
            $("#timer").text("Il reste " + days + " jours et " + hours + ":" + minutes + ":" + seconds);
        }

        $(document).ready(function () {
            refreshId = setInterval(setElement, 1000);
        });
    </script>
}
