@{
    ViewBag.Title = "Home Page";
}

<input type="hidden" id="dateLan" value="@ViewBag.dateLan" />

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Image/LOGO_noir_Transparent.png" class="img-responsive center-block " />
        </div>

        <div class="col-md-6 text-center">
            <h2 id="date"></h2>
            <h2 id="timer"></h2>
            @Html.AuthorizeActionLink("Inscrivez-vous des maintenant!", "Register", "Auth", "", "class=\"text-center btn btn-primary\" role=\"button\"")
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var dateLan = new Date(parseInt($("#dateLan").val()));
            $("#date").text("Prochain LAN le " + dateLan.toISOString());


            function setTimer() {
                var dateNow = new Date().toUTCString();
                var timeDiff = new Date(dateLan - dateNow);

                var seconds = Math.floor((dateLan.getTime() - (new Date().getTime())) / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                hours = hours - (days * 24);
                minutes = minutes - (days * 24 * 60) - (hours * 60);
                seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

                $("#timer").text("Il reste " + days + " jours " + hours + " heures " + minutes + " minutes " + seconds + " secondes");

            }
            setTimer();
            setInterval(setTimer, 1000);
        });
    </script>
}
