
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Image/LOGO_noir_Transparent.png" class="img-responsive center-block " />
        </div>

        <div class="col-md-6 text-center">
            <h2 id="timer"></h2>
            <h2 id="date"></h2>
            @Html.AuthorizeActionLink("Inscrivez-vous des maintenant!", "Register", "Auth", "", "class=\"text-center btn btn-primary\" role=\"button\"")
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var jourSemaine = ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche"];
            var mois = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];

            function setTimer() {
                var dateNow = new Date();
                var timeDiff = new Date(dateLan - dateNow);

                var seconds = Math.floor((dateLan.getTime() - (new Date().getTime())) / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                hours = hours - (days * 24);
                minutes = minutes - (days * 24 * 60) - (hours * 60);
                seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

                $("#timer").text("Prochain LAN dans " + days + " jours " + addLeadingZero(hours) + ":" + addLeadingZero(minutes) + ":" + addLeadingZero(seconds));

            }

			function dateToString(date) {
				var strDate = "";

				strDate += jourSemaine[date.getDay()];
				strDate += " le " + date.getDate();
				strDate += " " + mois[date.getMonth()];
				strDate += " " + date.getFullYear();
				strDate += " à " + addLeadingZero(date.getHours());
				strDate += ":" + addLeadingZero(date.getMinutes());

				return strDate;
			}

			function addLeadingZero(number) {
				return ("0" + number).slice(-2);
			}

			var dateLan = new Date(@ViewBag.dateLan);

        	$("#date").text(dateToString(dateLan));

            setTimer();
            setInterval(setTimer, 1000);
        });
    </script>
}
