@model LanAdept.Views.Auth.ModelController.ForgotPasswordModel
@{
	ViewBag.Title = "Mot de passe oublié";
}

<div class="page-header clearfix">
	<h2>Mot de passe oublié?</h2>
</div>

<div class="row">
	<div class="col-sm-6">
		<p class="help-block">
			Pour réinitialiser votre mot de passe, saisissez l'adresse email que vous avez utilisez lors de votre inscription.
			Un lien vous sera envoyé par courriel afin de réinitialiser votre mot de passe.
		</p>
	</div>
	<div class="col-sm-6">
		@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<div class="form-group">
				@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label remove-padding" })
				<div class="col-md-10">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10 text-right">
					<input type="submit" class="btn btn-primary" value="Envoyer un email" />
				</div>
			</div>
		}
	</div>
</div>

@section Styles {
	<style>
		@@media (max-width: 991px) {
			.form-horizontal .control-label.remove-padding {
				padding-top: 0;
			}
		}
	</style>
	}