@model LanAdept.Views.Auth.ModelController.MessageModel
@{
	ViewBag.Title = Model.Titre;
}

<div class="jumbotron">
	@if (!String.IsNullOrWhiteSpace(Model.Titre))
	{
		<h2 class="@Model.CssTitleClass">@Html.Raw(Model.Titre)</h2>
	}

	<p>@Html.Raw(Model.Contenu)</p>
</div>