@model LanAdept.Models.MessageModel
@{
	ViewBag.Title = Model.Title;
}

<div class="jumbotron">
	@if (!String.IsNullOrWhiteSpace(Model.Title))
	{
		<h2 class="@Model.CssTitleClass">@Html.Raw(Model.Title)</h2>
	}

	<p>@Html.Raw(Model.Content)</p>
</div>