			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<button id="actionButton" class="btn btn-primary disabled" type="submit" data-loading-text="Loading..." autocomplete="off">Ajouter</button>
			</div>
		</div>
	</div>
</div>